.personalCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 100px;
  border: white 2px solid;
}

.circle {
  border-radius: 100%;
}

.name {
  margin-top: 10px;
  font-size: 3em;
  border-bottom: 2px white solid;
}
